<div>
    <h2>Edit</h2>
    <div>
        <label>Title:
            <input [(ngModel)]="taskData.title" placeholder="Task title"/>
        </label><br/>
        <label>Description:
            <input [(ngModel)]="taskData.Description" placeholder="Description"/>
        </label><br/>
        <label>Priority:
            <select [(ngModel)]="taskData.Priority">
                <option [ngValue]="null">Select one...</option>
                <option *ngFor="let type of priorityEnum | keyvalue" [ngValue]="type.value">{{type.value}}</option>
            </select>
        </label>
    </div>
    <button (click)="updateTask()">Create</button>
</div>>